// マイページ

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*{
  background-repeat: no-repeat;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.tab-content .tab-pane {
  display: none;
  .activ{
  display: none;
  }
}

.bold{
  font-weight: 600;
}

ul{
  list-style-type: none;  
}


a{
  color: #0099e8;
  text-decoration: none;
  touch-action: manipulation;
}

div{
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}



.mypage-tabs, .listing-tabs, .review-history-tabs {
  border: 0;
  background: #eee;
  font-size: 0;
}

i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  speak-as: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: underline;
  opacity: .7;
  text-decoration: none;

}

.mypage {
  // margin: 40px auto 0;
  margin: 0 auto 0;
  width: 1020px;
  // padding: 0 0 40px;
  padding: 40px 0 40px;
  &__content{
    float: right;
    width: 700px;
  }
}
.user-icon{
  height: 200px;
  position: relative;
  padding: 20px;
  background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?79784477);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  a{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    color: #333;
    figure{
      overflow: hidden;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
      img{
        vertical-align: middle;
      }
    }
    
    h2{
      margin: 8px 0 0;
      font-size: 14px;
    }
    
    .mypage-number{
      margin: 8px 0 0;
      font-size: 0;
      div{
        display: inline-block;
        font-size: 14px;
      }
      div+div{
        margin: 0 0 0 16px;
      }
    }
  }
}
.mypage-tab{
  margin: 0;
  background: #fff;
  .mypage-tabs{
    border: 0;
    background: #eee;
    font-size: 0;
    top: 16px;
    right: 2px;
    li{
      width: 50%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      h3{  
        font-size: 22px;
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
        .hidden-large{
          display: none;
        }
      }
        
    }
    li.active{
      background: #fff;
      border-top:2px solid #ea352d;  
      .nav-number{
        position: absolute;
        top: 50%;
        right: 32px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #ea352d;
        text-align: center;
        line-height: 24px;
        color: #fff;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }
    }
  }
  .tab-content{
    .mypage-item-list.show{
      display: block;
      .mypage-go-list{
        padding: 16px;
        border: 0;
        a{
          display: block;
          height: 56px;
          margin: 0 auto;
          background: #eee;
          color: #333;
          line-height: 56px;
          text-align: center;
        }
      }

    }
    .mypage-item-list{
      display: none;
      border-bottom: 1px solid #eee;
    }

    li{
        border-bottom: 1px solid #eee;
        position: relative;
        .myoage-item-body{
          margin: 0 40px 0 68px;
          .mypage-item-text{
            overflow: hidden;
            display: block;
            display: -webkit-box;
            max-height: 4.4em;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            line-height: 1.5;
          }
          time{
            display: inline-block;
            color: #888;
          }
        }
    }
    .mypage-item-link{
      display: block;
      min-height: 80px;
      padding: 16px;
      color: #333;
      figure{
        position: relative;
        overflow: hidden;
        float: left;
        width: 48px;
        height: 48px;
        img{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
      }
    }
  }
}
.modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  opacity: 0;
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
  .model-inner{
    text-align: center;
    max-width: none;
    width: 600px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background: #fff;
    &__eye-catch{
      height: 310px;
      overflow: hidden;
      position: relative;
      background: url(/jp/assets/img/common/common/bg-modal-app-banner.jpg?79784477);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .first{
        width: auto;
        height: 100%;
      }
      .last{
        top: 16px;
        left: 16px;
        width: 110px;
        height: 29px;
      }
    }  
  }
}
.mypage-tab-container{
  margin: 40px 0 0;
  background: #fff;
  .mypage-tab-head{
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }
  h2{
    display: block;
    margin-block-start: 0.83em;
    // margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  ul{
    display: block;
    // list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    // padding-inline-start: 40px;
  }
  .mypage-tabs{
    border: 0;
    background: #eee;
    font-size: 0;
    li{
      width: 50%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      h3{
        font-weight: bold;
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
      }
    }
    li.active{
      background-color: #fff;
      border-top: 2px solid #ea352d;
    }  
  }
  .tab-content{
    .mypage-item-list{
      .mypage-item-not-found{
        padding: 160px 0 60px;
        background: url(logos/logo_gray.svg);
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 78px 85px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
      }
      li{
        :first-child{
          border-bottom: 1px solid #eee;
        }
        :last-child{
          border: 0;
        }
        .mypage-item-not-found {
          border: 0;
        }
      }
    }
    .mypage-item-list.active{
      background: #fff;
      display: block;
      a{
        border-top: 2px solid #ea352d;
      }
    }
  }
}






.mypage-side{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
}
.mypage-nav-list{
  li{
    border-top: 1px solid #eee;
  }  
  &__item{
    position: relative;
    display: block;
    // min-height: 48px;
    padding: 16px;
    background: #fff;
    font-size: 14px;
    color: #333;
    .fa{
      position: absolute;
      top: 50%;
      right: 16px;
      color: #ccc;
      // -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      // -webkit-transition: all ease-out .2s;
      transition: all ease-out .2s;
    }
  }
  li:first-child{
    border: 0;
      
  }
}
.mypage-nav-list__item.active{
  background: #eee;
  font-weight: 600;
  .fa{
    color: #333;
  }
}  
.mypage-nav-head{
  margin: 40px 0 0;
  font-size: 16px;
}
