// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_image-hoge{
  width: 300px;
  height: 300px;
}
