%footer.single__footer
  %nav
    %ul.clearfix
      %li
        %a{:href => "#"} プライバシーポリシー
      %li
        %a{:href => "#"} メルカリ利用規約
      %li
        %a{:href => "#"} 特定商取引に関する表記
  %a.single__footer__logo{:href => "#"}
    = image_tag "logos/logo_gray.svg", alt: "mercari", height: "65", width: "80"
  %p
    %small © 2019 Mercari