= render"products/header"

.main
  %ul.slider-list
    %li.slider-slide
      
    %li.slider-slide.slide-visible
      .sc-dliRfk.lnMXqm
        .sc-kLIISr.fqOIIb
          %img.sc-iqzUVk.jAEZMX{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}/
          .sc-qrIAp.PkUrY
            .sc-jtggT.bqsQJl
              スマホで
              かんたん
              %br>/
              フリマアプリ
            %p.sc-ebFjAB.SGfox
              メルカリはスマホカメラからすぐに出品できる
              %br>/
              購入時も安心な独自システムのアプリです
            .sc-iGrrsa.heyozC
              %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :rel => "noopener noreferrer", :target => "_blank"}
                %img.sc-ipZHIp.sc-bmyXtO.gxiFBJ{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
              %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :rel => "noopener noreferrer", :target => "_blank"}
                %img.sc-ipZHIp.sc-dEoRIm.jcELSQ{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/

          
  .main__top
    %h2.main__top__fab 人気のカテゴリー
    .main__top__category
      %ul.main__top__category__item
        %li.main__top__category__item__ladies
          %a.main__top__category__item__ladies__text レディース
        %li.main__top__category__item__mens
          %a.main__top__category__item__mens__text メンズ
        %li.main__top__category__item__appliance
          %a.main__top__category__item__appliance__text 家電・スマホ・カメラ
        %li.main__top__category__item__toy
          %a.main__top__category__item__toy__text おもちゃ・ホビー・グッズ

  .main__main
    .main__main__connect
      .main__main__connect__new
        %h3.main__main__connect__new__text レディース新着アイテム
        .main__main__connect__new__motto
          %a.main__main__connect__new__motto__details{:href => "/jp/category/1/"} もっと見る ＞

    .main__main__product
      %div
        %ul.main__main__product__div__box
          %li.main__main__product__div__box__item

            %div.main__main__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__main__product__box__item__div__link{:href => "#"}
                %figure.main__main__product__box__item__div__link__figure
                  %figcaption.main__main__product__box__item__div__link__figure__figcaption
                    %span.main__main__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__main__product__box__item__link__figure__figcaption__style
                    %span.main__main__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__main__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

          %li.main__main__product__div__box__item

            %div.main__main__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__main__product__box__item__div__link{:href => "#"}
                %figure.main__main__product__box__item__div__link__figure
                  %figcaption.main__main__product__box__item__div__link__figure__figcaption
                    %span.main__main__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__main__product__box__item__link__figure__figcaption__style
                    %span.main__main__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__main__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

          %li.main__main__product__div__box__item

            %div.main__main__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__main__product__box__item__div__link{:href => "#"}
                %figure.main__main__product__box__item__div__link__figure
                  %figcaption.main__main__product__box__item__div__link__figure__figcaption
                    %span.main__main__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__main__product__box__item__link__figure__figcaption__style
                    %span.main__main__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__main__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

          %li.main__main__product__div__box__item

            %div.main__main__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__main__product__box__item__div__link{:href => "#"}
                %figure.main__main__product__box__item__div__link__figure
                  %figcaption.main__main__product__box__item__div__link__figure__figcaption
                    %span.main__main__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__main__product__box__item__link__figure__figcaption__style
                    %span.main__main__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__main__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

          %li.main__main__product__div__box__item

            %div.main__main__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__main__product__box__item__div__link{:href => "#"}
                %figure.main__main__product__box__item__div__link__figure
                  %figcaption.main__main__product__box__item__div__link__figure__figcaption
                    %span.main__main__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__main__product__box__item__link__figure__figcaption__style
                    %span.main__main__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__main__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

  .main__bottom
    %h2.main__bottom_brand 人気のブランド
    .main__bottom__category
      %ul.main__bottom__category__item
        %li.main__bottom__category__item__chanel
          %a.main__bottom__category__item__chanel__text ルイヴィトン
        %li.main__bottom__category__item__lv
          %a.main__bottom__category__item__lv__text クロムハーツ
        %li.main__bottom__category__item__sup
          %a.main__bottom__category__item__sup__text しまむら
        %li.main__bottom__category__item__nike
          %a.main__bottom__category__item__nike__text ユニクロ

  .main__foot
    .main__foot__connect
      .main__foot__connect__new
        %h3.main__foot__connect__new__text ルイヴィトン新着アイテム
        .main__foot__connect__new__motto
          %a.main__foot__connect__new__motto__details{:href => "/jp/category/1/"} もっと見る ＞
    
    .main__foot__product
      %div
        %ul.main__foot__product__div__box
          %li.main__foot__product__div__box__item

            %div.main__foot__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

          %li.main__foot__product__div__box__item

            %div.main__foot__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

          %li.main__foot__product__div__box__item

            %div.main__foot__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

          %li.main__foot__product__div__box__item

            %div.main__foot__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/
                    
          %li.main__foot__product__div__box__item

            %div.main__foot__product__box__item__div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span ニットセットアップ   お値下げします！

                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span{"aria-label" => "Price"} ¥3,600
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img{:alt => "Thumbnail of \"ニットセットアップ   お値下げします！\"", :src => "https://static.mercdn.net/item/detail/orig/photos/m59788728488_1.jpg?1573560112"}/

.exhibit
  %a.exhibit__link{:href => "/jp/sell/"}
    .exhibit__link__circle
      .exhibit__link__circle__text 出品
      %svg.exhibit__link__circle__text__svg{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
        %path{:d => "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", :fill => "currentColor", "fill-rule" => "nonzero"}

= render"products/footer"
